
        <section>
          <div class="container-fluid">
            <h5 class="mt0">Classic form controls and custom variants</h5>
            <pre>{{ f.value | json }}</pre>
            <pre>{{
                    {
                      value: f.value,
                      errors: f.errors,
                      valid: f.valid,
                      dirty: f.dirty,
                      touched: f.touched
                    } | json }}</pre>
            <pre>{{
                    {
                      value: form.controls.title.value,
                      errors: form.controls.title.errors,
                      valid: form.controls.title.valid,
                      dirty: form.controls.title.dirty,
                      touched: form.controls.title.touched
                    } | json }}</pre>

            <div class="card">
              <div class="card-body">
                <form class="form-horizontal" [formGroup]="form"
                  (ngSubmit)="doSubmit(f)" #f="ngForm" novalidate>
                  <fieldset>
                    <div class="form-group" [class.has-error]="form.controls.title.dirty && form.controls.title.errors?.required">
                      <label class="col-sm-2 control-label">Rounded Corners</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control rounded"
                          formControlName="title">
                          <input type="submit" name="" value="送出">
                      </div>
                    </div>
                  </fieldset>
                  <fieldset>
                    <div class="form-group">
                      <label class="col-sm-2 control-label">With help</label>
                      <div class="col-sm-10" [class.has-error]="form.controls.subtitle.errors?.required">
                        <input type="text" class="form-control"
                          formControlName="subtitle"
                          ><span class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>
                      </div>
                    </div>
                  </fieldset>

<div formArrayName="types">

  <fieldset *ngFor="let type of types; let idx = index;">
    <div class="form-group" [class.has-error]="form.controls.types.controls[idx].dirty && form.controls.types.controls[idx].errors?.required">
      <label class="col-sm-2 control-label">Types[{{idx}}]</label>
      <div class="col-sm-10">
        <input type="text" placeholder="placeholder" class="form-control"
          [formControlName]="idx"
        >
      </div>
    </div>
  </fieldset>

</div>


                </form>
              </div>
            </div>
          </div>
        </section>
